<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>
      Call Your Representatives!
    </title>
    <script>
        // if (location.protocol != 'https:')
        // {
        //  location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
        // }
    
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://josephmarhee.com/assets/tachyons.css">
    <script type="text/javascript"
    src="https://media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js"></script>    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script type="text/javascript">

        // $(document).ready(function() {
        //     // $.get("/token", {forPage: window.location.pathname}, function(data) {
        //     //     // Set up the Twilio Client Device with the token
        //     //     Twilio.Device.setup(data);
        //     // });
            function httpGet(Url)
            {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", Url, false ); // false for synchronous request
                xmlHttp.send( null );
                return xmlHttp.responseText;
            }

            var token = httpGet("/token");

        //     Twilio.Device.setup("{{ token }}", {debug: true});
        // });
        Twilio.Device.setup(token, {debug: true});

        Twilio.Device.ready(function (device) {
            $("#log").text("Client {{ client }} is ready");
        });

        Twilio.Device.error(function (error) {
            $("#log").text("Error: " + error.message);
        });

        Twilio.Device.connect(function (conn) {
            $("#log").text("Successfully established call");
        });

        Twilio.Device.disconnect(function (conn) {
            $("#log").text("Call ended");
        });

        function call() {
            // get the phone number or client to connect the call to
            params = { "PhoneNumber": "{{ phone }}" };
            Twilio.Device.connect(params);
        }

        function hangup() {
            Twilio.Device.disconnectAll();
        }

    </script>
    <div id="fb-root"></div>

</head>

<body class="w-100 sans-serif">
    <main>

        <section class="phm phl-ns mw7 center pvxl">
            {%block heading %}
                <h2 class='ttu tracked'>Call {{ name }}...</h2>
            {% endblock %}
                {% set unformatted_number = phone %}
                <p class='f4 f3-ns lh-copy measure'>Calling {{ unformatted_number }}...</p>
                <button class='f5 f4-ns dim dib mtl br2 bg-white-10 ba b-red-40 blue-80 link pam call call-customer-button' onclick="call();">
                    Start Call
                </button>
                <button class='f5 f4-ns dim dib mtl br2 bg-white-10 ba b-red-40 blue-80 link pam hangup hangup-button' onclick="hangup();">
                    Hangup
                </button><br/>
                <br /><br /><hr /><br />
            Dialer Status...<br />
            <div id="log"></div>
        </section>
  </main>

</body>
